// Definicje zmiennych
$main: #23c7d9;
$akcent1: #f27127;
$akcent2: #e7c500;
$akcent3: #086788;
$colortext: black;
$background: #dfdfdf;

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: $colortext;
  box-sizing: border-box; // Dla lepszego zarządzania rozmiarami boxów
}

nav {
  min-width: 50%;
  width: 100%;
  min-height: 10vh;
  background: $akcent2;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul > li {
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: $colortext;
  font-weight: 600;
}

.site-header {
  background-color: $main;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  display: block;
}

.logo_text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.site-header span, .logo_text, .name_place {
  color: white;
}

.main-content section, .placeView, .opinion, .comments, .place, .map {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.place img {
  width: 20%;
  height: auto; // Zmiana dla lepszego skalowania obrazów
}

.placeView a, .place a {
  text-decoration: none;
  padding: 10px 15px;
  color: $colortext;
}

.name_place {
  font-size: 18px;
  font-weight: 900;
}

.submit {
  padding: 10px 15px;
  margin: 10px 15px;
  width: 60%;
  background-color: $main;
  border: 1px solid $background;
  border-radius: 10px;
  transition: all 0.4s ease; // Ulepszona animacja
}

.submit:hover {
  background-color: transparent;
  color: #49aaff;
  border-color: #49aaff;
}

.comment {
  border: 1px solid $akcent1;
}

.star {
  fill: $akcent2;
  width: 25px;
}
.placeView, .opinion, .comments {
	display: flex;
	flex-direction: row; // Domyślnie dla smartfonów
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }

@media (max-widch: 1200px){
	body{
		background-color: green;
	}
}