@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.site-header {
  background-color: #23c7d9;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  display: block;
}

.logo_text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.site-header span {
  color: white;
}

.main-content section {
  min-width: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px;
}

.placeView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px 15px;
}

.placeView a,
.place a {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

.place {
  width: 80%;
  padding: 10px 15px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.placeImg {
  width: 20%;
}

.address_data {
  padding: 5px 20px;
}

.name_place {
  font-size: 2rem;
  font-weight: 600;
}

.star {
  fill: #e7c500;
  width: 25px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.map {
  width: 50%;
  height: 400px;
  margin: auto;
  padding: 10px 15px;
}

.search-container {
  position: relative;
}

.icon_search {
  position: absolute;
  left: -3px; /* Reguluj odległość od lewej krawędzi kontenera */
  top: 50%;
  transform: translateY(-50%); /* Centruje ikonę pionowo */
  z-index: 10;
  padding-left: 10px;
  padding-right: 5px;
  border-right: 1px solid black;
  background-color: #086788;
  fill: white;
}

.search-input {
  width: 260px;
  height: 30px;
  font-size: 2rem;
  padding-left: 30px;
}

.info_rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}

.address {
  font-size: 2rem;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.links a {
  font-size: 2rem;
  padding: 5px;
}


#comments {
  width: 70%;
  height: 100px;
  text-align: center;
}

.comment {
  border: 1px solid #f27127;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  flex-wrap: wrap;
  width: 40%;
  margin: 10px 15px;
}

.username {
  padding: 5px 15px;
}

.date {
  padding: 5px 15px;
}

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

#userName {
  width: 70%;
  text-align: center;
}
.map {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 150;
  }
  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    top: 120px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #e7c500;
    padding: 10px;
    z-index: 100;
  }
  .search {
    position: absolute;
    background-color: #e7c500;
    width: 100%;
    top: 250px;
    z-index: 100;
    padding: 2rem 3rem;
    justify-content: center;
    left: -100%;
    transition: 0.7s ease-in-out;
  }
  .btn {
    width: 100px;
  }
  .navMenu.active {
    left: 0;
  }
  .search.active {
    left: 0;
  }
  .navMenu li {
    margin: 16px 0;
  }
  .map-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .placeView {
    width: 100%;
    height: auto;
  }
  .placeImg {
    width: 50px;
    height: auto;
  }
  .name_place {
    font-size: 2rem;
  }
  .info_rating {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  .stars {
    display: flex;
    padding: 10px 15px;
    width: 100%;
  }
  .star {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .map {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}