@tailwind base;
@tailwind components;
@tailwind utilities;

// ustawienie zmiennych - kolory
$main: #23c7d9;
$akcent1: #f27127;
$akcent2: #e7c500;
$akcent3: #086788;
$colortext: black;
$background: #dfdfdf;

// reset ustawień
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-size: 20px;
  color: black;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
//  stylowanie menu

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* navbar */
.nav {
  background-color: $akcent2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
// ustawienie nagłówka z logo

.site-header {
  background-color: #23c7d9;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  display: block;
}

.logo_text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.site-header span {
  color: white;
}

// ustawienie głównego diva

.main-content section {
  min-width: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 5px;
}

// ustawienie listy miejsc

.placeView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px 15px;
}

.placeView a,
.place a {
  text-decoration: none;
  padding: 10px 15px;
  color: black;
}

// ustawienia dla pojedyńczego miejsca
.place {
  width: 80%;
  padding: 10px 15px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.placeImg {
  width: 20%;
}

.address_data {
  padding: 5px 20px;
}
.name_place {
  font-size: 2rem;
  font-weight: 600;
}
// style dla wyświetlania gwiazdek
.star {
  fill: #e7c500;
  width: 25px;
}
.stars{
  display: flex;
  flex-direction: row;
}

// style dla mapy

.map {
  width: 50%;
  height: 400px;
  margin: auto;
  padding: 10px 15px;
}

// style dla pola do wyszukiwania

.search-container {
  // display: flex;
  position: relative;
}
.icon_search {
  position: absolute;
  left: -3px; /* Reguluj odległość od lewej krawędzi kontenera */
  top: 50%;
  transform: translateY(-50%); /* Centruje ikonę pionowo */
  z-index: 10;
  padding-left: 10px;
  padding-right: 5px;
  border-right: 1px solid black;
  background-color: $akcent3;
  fill: white;
}
.search-input{
  width: 260px;
  height: 30px;
  font-size: 1.5rem;
  padding-left: 30px;
  
}
.info_rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
}
.address {
  font-size: 1.5rem;
}
.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.links a {
  font-size: 1.5rem;
  padding: 5px;
}

.opinion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.opinion form > label,
.opinion h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.opinion form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.submit {
  padding: 10px 15px;
  margin: 10px 15px;
  width: 60%;
  background-color: #23c7d9;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.submit:hover {
  background-color: transparent;
  color: #49aaff;
  border: 1px solid #49aaff;
}

#comments {
  width: 70%;
  height: 100px;
  text-align: center;
}

.comment {
  border: 1px solid #f27127;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  flex-wrap: wrap;
  width: 40%;
  margin: 10px 15px;
}

.username {
  padding: 5px 15px;
}

.date {
  padding: 5px 15px;
}

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

#userName {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 150;
  }
  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 200px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: $akcent2;
    padding: 10px;
    z-index: 100;
  }
  .navMenu.active {
    left: 0;
  }
  .navMenu li {
    margin: 16px 0;
  }
  .map {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
  }
  .placeView {
    width: 100%;
    height: auto;
  }
  .placeImg {
    width: 300px;
    height: auto;
  }
  .name_place {
    font-size: 1.5rem;
  }
  .info_rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
  }
  .stars {
    display: flex;
    padding: 10px 15px;
    width: 100%;
  }
  .star {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .map {
    width: 250px;
    height: 300px;
  }
}
